.colorTest {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 40px 20px;
    background-color: #fff7f3; /* Fundo suave */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte moderna */
}

.colorTest h2 {
    font-size: 2.5rem;
    color: #d14527; /* Cor atraente para o título */
    margin-bottom: 30px;
    font-family: 'Georgia', serif; /* Fonte elegante para o título */
}

.colorTest form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorTest label {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    max-width: 600px;
}

.colorTest select, .colorTest button {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.colorTest button {
    background-color: #d14527;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.colorTest button:hover {
    background-color: #a93223;
}

/* Adicionar ícones às opções */
.colorTest select {
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Estilizar a mensagem de resultado */
.colorTest p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}
