@font-face {
    font-family: 'Classy Marisa';
    src: url('/path-to-your-font/ClassyMarisa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: 'Classy Marisa', cursive !important;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
    font-size: 1.2rem;
}

.navbar a {
    text-decoration: none;
    color: #1b1b1b;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #d1a429;
}

html {
    scroll-behavior: smooth;
}

