@font-face {
    font-family: 'Classy Marisa';
    src: url('./MarisaMedium.woff2') format('woff2'),
         url('./MarisaMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
